<div id="<%= dom_id hasmanydanse %>">
  <p>
    <strong>Piece:</strong>
    <%= hasmanydanse.piece_id %>
  </p>

  <p>
    <strong>Danse:</strong>
    <%= hasmanydanse.danse_id %>
  </p>

  <p>
    <strong>Mylayout:</strong>
    <%= hasmanydanse.mylayout %>
  </p>

</div>
