<h1>Editing hasmanydanse</h1>

<%= render "form", hasmanydanse: @hasmanydanse %>

<br>

<div>
  <%= link_to "Show this hasmanydanse", @hasmanydanse %> |
  <%= link_to "Back to hasmanydanses", hasmanydanses_path %>
</div>
