<div id="<%= dom_id person %>">
  <p>
    <strong>Type:</strong>
    <%= person.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= person.image %>
  </p>

</div>
