<div id="<%= dom_id video %>">
  <%if video.yt?%>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=video.yt?%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <%elsif video.vimeo?%>
  <%end%>

</div>
