<div id="<%= dom_id piece %>">
  <p>
    <strong>Title:</strong>
    <%= piece.title %>
  </p>

  <p>
    <strong>Composer:</strong>
    <%= piece.composer %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= piece.numero %>
  </p>

</div>
