<h1>Editing musicstuff</h1>

<%= render "form", musicstuff: @musicstuff %>

<br>

<div>
  <%= link_to "Show this musicstuff", @musicstuff %> |
  <%= link_to "Back to musicstuffs", musicstuffs_path %>
</div>
