<div id="<%= dom_id instrument %>">
  <p>
    <strong>Name:</strong>
    <%= instrument.name %>
  </p>

  <p>
    <strong>Familier:</strong>
    <%= instrument.familier %>
  </p>
    <strong>tonalite:</strong>
    <%= instrument.tone.try(:name) %>

</div>
